.main_header {
    margin-bottom: 3rem;
}

.span_contact {
    font-size: small;
    font-style: italic;
    color: #01cb63;
}
.span_header {
    color: #1f2532;
    font-weight: bold;
}

.cont {
    padding: 0 1rem;
}

.income {
    padding: 0.5rem;
    padding-left: 0.3rem;
    margin-top: 0.5rem;
    font-weight: bold;
    border-left: 4px solid #01cb63;
}
